<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TaskRecordMapper">

	<resultMap type="TaskRecord" id="TaskRecordResult">
		<id     property="id"     		column="id" />
		<result property="jiraNo"  		column="jira_no" />
		<result property="demandName"   column="demand_name" />
		<result property="demandType"   column="demand_type" />
		<result property="relateDemand" column="relate_demand" />
		<result property="principal"    column="principal" />
		<result property="remark"      	column="remark" />
		<result property="iterateWeek"  column="iterate_week" />
		<result property="outDlls"    	column="out_dlls" />
		<result property="status" 		column="status" />
		<result property="env"   		column="env" />
		<result property="createTime"  	column="create_time" />
		<result property="createBy"   	column="create_by" />
		<result property="updateTime"  	column="update_time" />
		<result property="updateBy"   	column="update_by" />
		<result property="deleted"   	column="deleted" />
	</resultMap>

	<select id="selectList" resultMap="TaskRecordResult">
		select * from task_record
		<where>
			<if test="id != null and id != ''">id=#{id}</if>
			<if test="ids != null and ids.size > 0">and id in <foreach collection="ids" item="i" open="(" separator="," close=")">#{i}</foreach></if>
			<if test="jiraNo != null and jiraNo != ''">and jira_no=#{jiraNo}</if>
			<if test="jiraNoList != null and jiraNoList.size > 0">and jira_no in <foreach collection="jiraNoList" item="jira" open="(" separator="," close=")">#{jira}</foreach></if>
			<if test="demandName != null and demandName != ''">and demand_name like concat('%',#{demandName},'%')</if>
			<if test="status != null">and status=#{status}</if>
			<if test="iterateWeek != null">and iterate_week=#{iterateWeek}</if>
			<if test="startTime != null">and create_time &gt;= #{startTime}</if>
			<if test="endTime != null">and create_time &lt;= #{endTime}</if>
			<if test="env != null">and env = #{env}</if>
			<if test="createBy != null">and (create_by = #{createBy} or principal = #{createBy})</if>
		</where>
	</select>

	<select id="selectById" resultMap="TaskRecordResult">
		select * from task_record where id=#{taskId}
	</select>

	<insert id="insert">
		insert into task_record (
			jira_no,
			demand_name,
			demand_type,
			relate_demand,
			principal,
			remark,
			iterate_week,
			out_dlls,
			env,
			create_by
		) value (
			#{jiraNo},
			#{demandName},
			#{demandType},
			#{relateDemand},
			#{principal},
			#{remark},
			#{iterateWeek},
			#{outDlls},
			#{env},
			#{createBy}
		)
	</insert>
	
	<insert id="batchInsert">
		insert into task_record (
			jira_no,
			demand_name,
			demand_type,
			relate_demand,
			principal,
			remark,
			iterate_week,
			out_dlls,
			env,
			create_by
		) values
	 	<foreach collection="tasks" item="task" separator=",">
		(
			#{task.jiraNo},
			#{task.demandName},
			#{task.demandType},
			#{task.relateDemand},
			#{task.principal},
			#{task.remark},
			#{task.iterateWeek},
			#{task.outDlls},
			#{task.env},
			#{task.createBy}
		)
		</foreach>
	</insert>
	
	<update id="updateByJiraNo">
		update task_record
		<set>
			<if test="demandName != null and demandName != ''">demand_name=#{demandName},</if>
			<if test="demandType != null">demand_type=#{demandType},</if>
			<if test="relateDemand != null and relateDemand != ''">relate_demand=#{relateDemand},</if>
			<if test="principal != null and principal != ''">principal=#{principal},</if>
			<if test="remark != null and remark != ''">remark=#{remark},</if>
			<if test="iterateWeek != null">iterate_week=#{iterateWeek},</if>
			<if test="outDlls != null and outDlls != ''">out_dlls=#{outDlls},</if>
			<if test="status != null">status=#{status},</if>
			<if test="updateBy != null and updateBy != ''">update_by=#{updateBy}</if>
		</set>
		where jira_no=#{jiraNo} and env=#{env} limit 1
	</update>

	<update id="updateById">
		update task_record
		<set>
			<if test="demandName != null and demandName != ''">demand_name=#{demandName},</if>
			<if test="demandType != null">demand_type=#{demandType},</if>
			<if test="relateDemand != null and relateDemand != ''">relate_demand=#{relateDemand},</if>
			<if test="principal != null and principal != ''">principal=#{principal},</if>
			<if test="remark != null and remark != ''">remark=#{remark},</if>
			<if test="iterateWeek != null">iterate_week=#{iterateWeek},</if>
			<if test="outDlls != null and outDlls != ''">out_dlls=#{outDlls},</if>
			<if test="status != null">status=#{status},</if>
			<if test="updateBy != null and updateBy != ''">update_by=#{updateBy}</if>
		</set>
		where id=#{id} limit 1
	</update>

	<update id="batchUpdate">
		update task_record set
			demand_name   =	case <foreach collection="tasks" item="task">when jira_no=#{task.jiraNo} and #{task.demandName} 	IS NOT NULL and #{task.demandName} != '' 	then #{task.demandName}</foreach> 	else demand_name end,
			demand_type   =	case <foreach collection="tasks" item="task">when jira_no=#{task.jiraNo} and #{task.demandType} 	IS NOT NULL 								then #{task.demandType}</foreach> 	else demand_type end,
			relate_demand =	case <foreach collection="tasks" item="task">when jira_no=#{task.jiraNo} and #{task.relateDemand} 	IS NOT NULL and #{task.relateDemand} != ''  then #{task.relateDemand}</foreach> else relate_demand end,
			principal     =	case <foreach collection="tasks" item="task">when jira_no=#{task.jiraNo} and #{task.principal} 		IS NOT NULL and #{task.principal} != '' 	then #{task.principal}</foreach> 	else principal end,
			remark        =	case <foreach collection="tasks" item="task">when jira_no=#{task.jiraNo} and #{task.remark} 		IS NOT NULL and #{task.remark} != '' 		then #{task.remark}</foreach> 		else remark end,
			iterate_week  =	case <foreach collection="tasks" item="task">when jira_no=#{task.jiraNo} and #{task.iterateWeek} 	IS NOT NULL 								then #{task.iterateWeek}</foreach> 	else iterate_week end,
			out_dlls      =	case <foreach collection="tasks" item="task">when jira_no=#{task.jiraNo} and #{task.outDlls} 		IS NOT NULL and #{task.outDlls} != '' 		then #{task.outDlls}</foreach> 		else out_dlls end,
			status        =	case <foreach collection="tasks" item="task">when jira_no=#{task.jiraNo} and #{task.status} 		IS NOT NULL 								then #{task.status}</foreach> 		else status end,
			update_by     =	case <foreach collection="tasks" item="task">when jira_no=#{task.jiraNo} and #{task.updateBy} 		IS NOT NULL and #{task.updateBy} != ''		then #{task.updateBy}</foreach> 	else update_by end
		where jira_no in <foreach collection="tasks" item="task" open="(" separator="," close=")">#{task.jiraNo}</foreach> and env=#{env}
	</update>

	<update id="saveConfig">
		update deploy_config set svn_url=#{svnUrl}, excel_skip_row=#{excelSkipRow}, notify_emails=#{notifyEmails} limit 1
	</update>
	<select id="selectConfig" resultType="com.ruoyi.system.domain.DeployConfig">
		select
			svn_url svnUrl,
			excel_skip_row excelSkipRow,
			notify_emails notifyEmails
		from deploy_config
	</select>

</mapper> 